* {
	margin: 0;
	border-box: 0;
	box-sizing: border-box-box;
	font-family: 'Avenir';
	font-size: 24px;
	font-style: normal;
	color: white;

}
header{
	width:100%;
	height: 549px;
	background-color: #FFFFFF;

}

#rodney{
	padding-top: 30px;
	padding-bottom: 100px;
	margin: 0 auto;
	display:block;
}

.about{
	width: 100%;
	height: 400px;
	background-color: #FFFFFF;
}
.about-wrapper{
	width: 70%;
	margin: 0 auto;
	display: block;
}
.about-intro{
	font-size: 4em;
	padding: 80px 40px 20px 0;
}
.about-me{
	font-size: 2em;
	text-indent:150px;
	text-align: justify;
	font-weight:600;
}
img{
	padding-top: 20px;
	padding-bottom: 20px;
}
/*----END ABOUT TAB ----*/
